extends layouts/main.pug

block content 
  if !profileUser
    span.errMessage Please check the username in url!
  else
    script.
      const profileUserId = "!{profileUser._id}"
      const selectedTab = "!{selectedTab}"

    - let followingCount = profileUser.following.length
    - let followerCount = profileUser.followers.length

    .profileHeaderContainer
      .coverPhotoSection
        .coverPhotoContainer
          img(src=profileUser.coverPhoto, alt="")
          
          if userLoggedIn._id === profileUser._id
            button.coverPhotoButton(data-toggle="modal", data-target="#coverPhotoModal") 
              i.fas.fa-camera  

        .userImageContainer 
          img(src=profileUser.profilePic, alt="User profile photo")

          if userLoggedIn._id === profileUser._id
            button.profilePictureButton(data-toggle="modal", data-target="#imageUploadModal") 
              i.fas.fa-camera

      .profileButtonsContainer
        if profileUser._id !== userLoggedIn._id
          a.profileButton(href=`/messages/${profileUser._id}`)
            i.fas.fa-envelope 

          - let profileUserId = profileUser._id.toString()
          - userLoggedIn.following = userLoggedIn.following.map(id => id.toString())
          - let isFollowing = userLoggedIn.following !== undefined && userLoggedIn.following.includes(profileUserId)

          if isFollowing
            +createFollowButtton(profileUser, true)
          else
            +createFollowButtton(profileUser, false)

      .userDetailContainer 
        sapn.displayName #{profileUser.firstName} #{profileUser.lastName}
        span.username @#{profileUser.username}
        span.description #{profileUser.description}


        .followersContainer
          a(href=`/profile/${profileUser.username}/following`)
            span.value #{followingCount} 
            span Following
          a(href=`/profile/${profileUser.username}/followers`)
            span#followerCount.value #{followerCount} 
            span Followers
          
    .tabsContainer
      +createTab("Posts", `/profile/${profileUser.username}`, selectedTab !== "replies")
      +createTab("Replies", `/profile/${profileUser.username}/replies`, selectedTab === "replies")
  
    .pinnedPostContainer
    .postsContainer

    +createPostModals(userLoggedIn)
    +createImageUploadModal()
    +createCoverPhotoModal()

block script
  script(src="/js/profile.js") 