mixin createPostForm(userLoggedIn)
  .postFormContainer
    .userImageContainer
      img(src=userLoggedIn.profilePic, alt="User's profile picture") 
    .textareaContainer
      textarea#postTextarea(placeholder="What's happening?")
      .buttonsContainer 
        button#submitPostButton(disabled="") Post 

mixin createReplyModal(userLoggedIn)
  #replyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='replyModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#replyModalLabel.modal-title Reply
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          #originalPostContainer
          .postFormContainer
            .userImageContainer
              img(src=userLoggedIn.profilePic, alt="User's profile picture") 
            .textareaContainer
              textarea#replyTextarea(placeholder="What's happening?")
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
          button#submitReplyButton.btn.btn-primary(type='button') Reply

mixin createDeletePostModal()
  #deletePostModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deletePostModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#deletePostModalLabel.modal-title Delete the post ?
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          p You won't be able to delete this.
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
          button#deletePostButton.btn.btn-primary(type='button') Delete

mixin createPinPostModal()
  #pinPostModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='pinPostModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#pinPostModalLabel.modal-title Pin this post ?
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          p The post will be pinned and appear at the top of your profile.
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
          button#pinPostButton.btn.btn-primary(type='button') Pin

mixin createUnpinPostModal()
  #unpinPostModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='unpinPostModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#unpinPostModalLabel.modal-title Unpin the post ?
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          p The post will be unpinned.
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
          button#unpinPostButton.btn.btn-primary(type='button') Unpin

mixin createImageUploadModal()
  #imageUploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='imageUploadModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#imageUploadModalLabel.modal-title Upload new profile picture
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          input#filePhoto(type="file", name="filePhoto")

          .imagePreviewContainer
            img#imagePreview(src="", alt="") 
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Cancle 
          button#imageUploadButton.btn.btn-primary(type='button') Save

mixin createCoverPhotoModal()
  #coverPhotoModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='coverPhotoModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#coverPhotoModalLabel.modal-title Upload new cover photo
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          input#coverPhoto(type="file", name="coverPhoto")

          .coverPhotoContainer
            img#coverPreview(src="", alt="") 
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Cancle 
          button#coverPhotoButton.btn.btn-primary(type='button') Save

mixin createPostModals(userLoggedIn)
  +createReplyModal(userLoggedIn)
  +createDeletePostModal()
  +createPinPostModal()
  +createUnpinPostModal()

mixin createFollowButtton(user, isFollowing)
  - text = isFollowing ? "Following" : "Follow"
  - buttonClass = isFollowing ? "followButton following" : "followButton"
  button(class=buttonClass, data-userid=user._id) #{text} 

mixin createTab(name, herf, isSelected)
  - tabClass = isSelected ? "tab active" : "tab"
  a(href=herf class=tabClass) 
    span #{name}

mixin createChatImage(chatData, userLoggedIn)
  if(!chatData)
     return

  - var i = 0
  - var maxImagesToShow = 3
  - var remainingUsers = chatData.users.length - maxImagesToShow
  - remainingUsers-- // Remove 1 since we won't show our own image
    
  .chatImagesContainer

    if remainingUsers > 0
      .userCount
        span +#{remainingUsers}

    each user in chatData.users

      - userId = user._id.toString()

      if chatData.users.length != 1 && userId == userLoggedIn._id
        - continue

      else if i >= maxImagesToShow    
        - break
            
      img(src=user.profilePic, alt="User's profile picture", title=user.firstName)
      - i++
  

